
.icon-right-arrow:before { content: '\e800'; } /* '' */
.icon-left-arrow:before { content: '\e801'; } /* '' */
.icon-up-arrow:before { content: '\e802'; } /* '' */
.icon-down-arrow:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-gplus:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */